[submodule "vendor/color-theme"]
	path = vendor/color-theme
	url = git://github.com/emacsmirror/color-theme.git
[submodule "vendor/color-theme-ir-black"]
	path = vendor/color-theme-ir-black
	url = git://github.com/rmm5t/color-theme-ir-black.git
[submodule "vendor/vimpulse"]
	path = vendor/vimpulse
	url = https://github.com/emacsmirror/vimpulse.git
[submodule "vendor/zenburn"]
	path = vendor/zenburn
	url = https://github.com/dbrock/zenburn-el.git
[submodule "vendor/icicles"]
	path = vendor/icicles
	url = https://github.com/emacsmirror/icicles.git
[submodule "vendor/magit"]
	path = vendor/magit
	url = https://github.com/philjackson/magit.git
[submodule "vendor/magithub"]
	path = vendor/magithub
	url = https://github.com/nex3/magithub.git
[submodule "vendor/ruby-electric"]
	path = vendor/ruby-electric
	url = https://github.com/qoobaa/ruby-electric.git
[submodule "vendor/ruby-mode"]
	path = vendor/ruby-mode
	url = https://github.com/jwiegley/ruby-mode.git
