[submodule "vendor/color-theme"]
	path = vendor/color-theme
	url = git://github.com/emacsmirror/color-theme.git
[submodule "vendor/color-theme-ir-black"]
	path = vendor/color-theme-ir-black
	url = git://github.com/rmm5t/color-theme-ir-black.git
[submodule "vendor/vimpulse"]
	path = vendor/vimpulse
	url = https://github.com/emacsmirror/vimpulse.git
[submodule "vendor/zenburn"]
	path = vendor/zenburn
	url = https://github.com/dbrock/zenburn-el.git
[submodule "vendor/icicles"]
	path = vendor/icicles
	url = https://github.com/emacsmirror/icicles.git
